*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    line-height: 1.5;
    font-family: monospace;
}
.logobox{
    padding: 10px;
}
div.header{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 239, 206, 0.5),
        rgba(128, 40, 40, 0.603)
    ),
    url(https://cdn.pixabay.com/photo/2016/03/26/13/09/workspace-1280538_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}
.textbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    text-decoration: underline;
}
h1.tb1{
    font-size: 3rem;
}
a.btn{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: block;
    border-radius: 100px;
    background-color: white;
    color: rgb(92, 92, 92);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    font-size: 1rem;
}