body{
    background-image:url();
}
h1.title {
    color: lime;
    border: 2px solid violet;
    text-align: center;
    margin: 0px auto;
    width: 200px;
}
strong.f{
    font-size: 50px;
    color: green;
}
strong.r{
    font-size: 40px;
    color: blue;
}
strong.a{
    font-size: 35px;
    color:blueviolet ;
}
strong.s{
    font-size: 27px;
    color:brown ;
}
strong.e{
    font-size: 50px;
    color:deeppink ;
}
p.victory{
    font-family: fantasy;
    color: gold;
    border: 3px double blue;
    height: auto;
    width: 200px;
    padding: 20px;
    margin-left: auto;
    background-color: rgb(229, 249, 255);
    text-shadow:  5px 5px 5px;
}
p.tener{
    font-size: larger;
    color: rgb(0, 255, 55);
    border: 4px solid rgb(155, 255, 155);
    border-radius:  15px;
    padding: 50px;
    text-align: center;
    width: 300px;
    margin: 0px auto;
    margin-top: 20px;
    background-color: rgb(228, 255, 228);
    text-shadow: 9px -10px 2px;
}
p.retos{
    color: tomato;
    text-align: left;
    font-size: 35px;
    border: 10px dotted red;
    width: fit-content;
    padding-bottom: 40px ;
    padding-top: 40px;
    background-color: beige;
    text-shadow: 5px 5px 5px;
    border-radius: 15px;
}
a.boton:link, a.boton:visited{
    text-decoration: none;
    background-color: rgb(191, 222, 250);
    padding: 10px;
}
a.boton:active, a.boton:hover{
    text-decoration: none;
    background-color: rgb(153, 207, 255);
    padding: 10px;
}
